.cards {
    display: flex;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px;
    text-align: center;
    padding: 40px;
}

.card-gap {
    gap: 3px;
}

.desc {
    padding-top: 20px;
}

#one{
    width: 25vw;
    background-color: #FEF6EC;
}

#two{
    width: 25vw;
    background-color: #F0EDED;
}
#three{
    width: 25vw;
    background-color: #F0F4F8;
}
#four{
    width: 25vw;
    background-color: #A7C5EB;
}
#five{
    width: 50vw;
    background-color: #EFF6FF;
}

#six{

    overflow: hidden;
    padding: 0;
    width: 25vw;
}

#seven{
    width: 25vw;
    background-color: #FEF6EC;
}

@media screen and (max-width: 1025px) {
    .cards {
        flex-direction: column;
    }



    
    #one, #two, #three, #four, #five, #six, #seven {
        width: 100vw;
    }

    #six {
        display: none;
    }

    .card-gap {
        gap: 0;
    }


    
}