nav {
    margin: 5vh 0vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #000;
}