footer {
    display: flex;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    background-color: #E8EFF1;
    text-align: center;
}

.contactBox h2 {
    margin: 2vh 0vw;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    line-height: 30px;
}

form{
    margin: 4vh 0vw;
}

input {
    outline: none;
    border-color: #000;
    padding: 5px;
    border-width: 0px 0px 2px 0px;
}

textarea {
    border-width: 0px 0px 2px 0px;
    border-color: #000;
    outline: none;
}

.firstrow, .secondrow {
    display: flex;
    gap: 3vw;
    margin: 2vh 0vw;
}

.button {
    margin: 2vh 0vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 620px) {
    .wrapper {
        margin-top: 2vh;
        flex-direction: column;
        align-items: center;
    }

    .description {
        display: none;
    }

    .first {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}