#approach-wrapper {
    padding: 20px;
    text-align: center;
    background-color: #EFF6FF;
}


#approach-info h1 {
    margin: 5vh 0vw;
}

#approach-info p {
    margin: 5vh 0vw;
    line-height: 35px;
}