#testimonials-wrapper {
    background: #EFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    margin-top: 40px;
}



#testimonials-info p {
    margin: 5vh 5vh 0 5vh;
}

@media screen and (max-width: 425px) {
    #testimonials-info {
        margin: 5vh;
    }
}