#testimonials-wrapper {
    background: #EFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    text-align: center;
    margin-top: 20px;
}

#testimonials-info h2::before {
    content: '"';
    display: inline-block;
}

#testimonials-info h2::after {
    content: '"';
    display: inline-block;
}

#testimonials-info p {
    margin: 5vh;
}

@media screen and (max-width: 425px) {
    #testimonials-info {
        margin: 5vh;
    }
}