html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Jost";
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Jost";
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: "Quicksand";
}

button {
    background-color: rgba(255, 218, 185, 0);
    border-width: 0px 0px 1px 0px;
}